
html {
  box-sizing: border-box;
}

body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.game {
  display: flex;
  justify-content: center;

  .game-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }
}
